body {
    background-color: cyan;
}

.circle {
    height: 250px;
    width: 250px;
    background-color: #FFAEC9;
    border-radius: 50%;
    margin-bottom: 30px;
}

.circle-outline {
    height: 250px;
    width: 250px;
    background-color: transparent;
    border-radius: 50%;
    border: 4px solid #000;
}

.triangle {
    border-color: red transparent transparent transparent;
    border-width: 71px 77px 80px 61px;
    border-style: solid;
    display: inline-block;
    margin-top: 15px;
}