/* Color */
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.violet {
    background-color: violet;
}

/* Container */
.container {
    max-width: 700px;
    margin: 40px auto;
}

/* Flex Container */
.flex-container {
    /* border: 1px solid #ddd; */
    background-color: #ddd;
}
.flex-container .item {
    font-size: 24px;
    text-align: center;
}

/* Flex Item */
.item {
    color: #fff;
}