* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'FiraCodeMedium';
    src: url('assets/fonts/FiraCodeMedium.eot');
    src: url('assets/fonts/FiraCodeMedium.eot') format('embedded-opentype'),
         url('assets/fonts/FiraCodeMedium.woff2') format('woff2'),
         url('assets/fonts/FiraCodeMedium.woff') format('woff'),
         url('assets/fonts/FiraCodeMedium.ttf') format('truetype'),
         url('assets/fonts/FiraCodeMedium.svg#FiraCodeMedium') format('svg');
}

h3{
    font-family: 'FiraCodeMedium';
    margin-bottom: 30px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.box {
    height: 150px;
    width: calc(20% - 15px);
    background-color: red;
    margin-bottom: 15px;
    float: left;
    margin-right: 15px;
    transition: 0.3s;
}

.box:last-child {
    margin-right: 0;
    width: calc(20% - 0px);
}


.box.translate:hover {
    transform: translateX(228px) translateY(180px);
    background-color: cyan;
}

.box.rotate:hover {
    /* transform: rotateX(325deg);
    transform: rotateY(325deg); */
    transform: rotateZ(325deg);
}

.box.scale:hover {
    transform: scaleX(1.5) scaleY(2);
    background-color: cyan;
}

.box.skew:hover {
    /* transform: skewX(30deg) skewY(15deg); */
    transform: skew(30deg, 15deg);
    background-color: cyan;
}

.box.matrix:hover {
    transform : matrix(1, -0.3, 0, 1, 0, 0);
    background-color: cyan;
}